<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673315749181-clha79l2hd7u6r1c0h800gd5f1vfmq4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673315749181-clha79l2hd7u6r1c0h800gd5f1vfmq4v</string>
	<key>API_KEY</key>
	<string>AIzaSyAPdDezJo9_boDH4he-HozZcq0nUme9a9s</string>
	<key>GCM_SENDER_ID</key>
	<string>673315749181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ginotasis.Kachat</string>
	<key>PROJECT_ID</key>
	<string>kachat-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>kachat-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673315749181:ios:f3be1dbcc1be28c266d954</string>
</dict>
</plist>